body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 'header header header'
        'main main aside'
        'main main aside'
        'footer footer footer';
    gap: 8px;
    font-family: 'Jost', sans-serif;
}

body a {
    text-decoration: none;
    font-size: 1em;
    color: #3b692a;
}

header {
    grid-area: header;
    width: 100%;
    position: relative;
    background: linear-gradient(45deg, #b1d5a5, #eeedd3);
}

header h1 {
    font-size: 2em;
    font-family: 'Caprasimo', cursive;
    text-align: center;
    margin: 1.5em 0 0.4em 0;
    color: #c94b5b;
}

header p {
    font-size: 1em;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #679854;
    margin: 0 0 1.8em 0;
}

header nav {
    width: 20%;
    position: absolute;
    top: 0.8em;
    right: 0.8em;
}

nav a {
    margin-right: 0.8em;
}

main {
    grid-area: main;
    width: 100%;
}

article {
    grid-area: article;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.limeic p,
.mintic p,
.sherbet p {
    position: relative;
    top: 8em;
    text-align: center;
    padding: 0.5em 0 0.5em 0;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    background-color: #fff;
    color: #749d69;
}

.limeic,
.mintic {
    width: 407px;
    height: 270px;
    background-size: cover;
    margin: 1.6em;
}

.limeic {
    background-image: url(../img/limeice.jpg);
}

.mintic {
    background-image: url(../img/mintice.jpg);
}

.sherbet {
    background-image: url(../img/sherbet.jpg);
    background-size: cover;
    width: 854px;
    height: 215px;
    margin: 1.6em;
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 1em 0 0 0;
    position: relative;
    right: 2em;
    line-height: 2;
}

aside p {
    color: #749d69;
}

footer {
    grid-area: footer;
    width: 100%;
    height: auto;
    background-color: #afd3a3;
}

footer div {
    display: flex;
    justify-content: space-evenly;
    padding: 0.6em;
    line-height: 2;
}

.footer-div {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
}

@media screen and (max-width: 320px) {

    body,
    header,
    main,
    footer {
        width: 100vw;
    }

    header nav {
        width: 100%;
        text-align: center;
        right: 0;
    }

    header h1 {
        width: 50%;
        margin: 1.6em auto 0.6em auto;
    }

    .limeic,
    .mintic,
    .sherbet {
        width: 60%;
    }

    aside {
        display: none;
    }

    footer div {
        width: 100%;
        padding: 4% 2% 4% 4%;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
}

@media screen and (min-width: 2560px) {

    body,
    header,
    main,
    footer {
        width: 100vw;
    }

    header nav {
        text-align: center;
        width: 100%;
        right: 0;
    }

    .sherbet {
        height: 270px;
        width: 407px;
    }

    aside {
        right: 6em;
    }

    footer div {
        justify-content: center;
    }
}
